<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="100.7.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="100.11.2" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.7.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
</packages>